### day 2 - 10 programs on the basics

In [80]:
#### 1. assign same value to two variables and print
#### what is the output of the following code
a = b= 10
print(b)

10

In [11]:
a=b=10
print(b)

print("output="+str(b))

10
output=10

In [ ]:
# 12. create a list that has 'daddy','mummy','jak','sravs','jaya'
# only print sravs

family = []

In [ ]:
# if a=b=c=d=300 what is the value of b
# if school=college=family=['jak','sravs','jaya'] what is the output of family

In [15]:
# given roll number = 100 and name = srav as input. output= srav100
rollnumber=100
name=input()
output=name+str(rollnumber)
print(output)

srav100

In [17]:
# sravanth,jayanth,jak went for work. sravanth earned 12.6 rupees, jayanth earned 13 rupees, 
# jak earned 12 rupees. what is the total amount of money earned by the three
sravanth=12.5
jayanth=13
jak=12
print("total amount earned by the three="+str(sravanth+jayanth+jak))

total amount earned by the three=37.5

In [19]:
# jack bought a diamond for 130 rupees and sold it for 2000 rupess what is the profit he got
jak=130
sold=2000
print("profit="+str(sold-jak))

profit=1870

In [76]:
# sravanth bought icecream, jayanth bought cake, both swapped them and 
# sravanth took cake and jayanth took icecream 
# what does sravanth has
sravanth="icream"
jayanth="cake"
print("sravanth has",sravanth.replace(sravanth,jayanth))

sravanth has cake

In [56]:
# find the area of triangle height = 130 length = 10
height=130
length=10
area=height*length/2
print(area)

650.0

In [59]:
# sravanth = 106
# jayanth = 113
# jak = 123

# divide all with 10 and add the remainder to their name and print

""" example 
    sravanth = 1246
    when 1246 is divided with 10 the remainder is 6 
    so the output is sravanth6
"""
sravanth=106
reminder1=sravanth%10
print("sravanth"+str(reminder1))
jayanth=113
reminder2=jayanth%10
print("jayanth"+str(reminder2))
jak=123
reminder3=jak%10
print("jak"+str(reminder3))

sravanth6
jayanth3
jak3

In [2]:
# print the square root of 256
import math
a=256
print(math.sqrt(a))

# do not use math.sqrt and try solving this 
print(256**0.5)

16.0
16.0

In [79]:
# given 234.56789 correct values to two decimal places
a=234.56789
print(format(a,".2f"))
print(round(a,2))

234.57
234.57

In [71]:
# what is the type of 123
a=123
print(type(a))

<class 'int'>