1. a = 235 b= 782 swap the values. output: a = 782 b= 235
2. a = "mouse" b="mat" swap the values. output: a = mat b = mouse
3. name = Sravanth capatialze all the name output : SRAVANTH
4. a = "hello " remove the whiteSpace output: hello
5. A person crosses a 600 m long street in 5 minutes. What is his speed in km per hour?
6. price = 100, mangoes= 10, location= Ongole. output : I bought 10 mangoes for 100 rupees in ongole
7. sentence = "Sravanth met the "MLA" in ongole"
8. typecast a = 10.0  output: a = 10
9. A father said to his son, "I was 24 years old when you were born". If the father's age is 38 years now, the son's age five years back was:

In [10]:
#1. a = 235 b= 782 swap the values. output: a = 782 b= 235
a=235
b=782
x=a
a=b
b=x
print("after swaping a="+str(format(a)))
print("after swaping a="+str(format(b)))

after swaping a=782
after swaping a=235

In [1]:
#2. a = "mouse" b="mat" swap the values. output: a = mat b = mouse
a="mouse"
b="mat"
x=a
a=b
b=x
print("after swaping a="+format(a))
print("after swaping b="+format(b))

after swaping a=mat
after swaping b=mouse

In [11]:
#3. name = Sravanth capatialze all the name output : SRAVANTH
name="sravanth"
print(name.upper())

SRAVANTH

In [15]:
#4. a = "hello " remove the whiteSpace output: hello
a="hello "
print(a.strip())
b='hello  '
print(b.strip())

hello
hello

In [16]:
#5. A person crosses a 600 m long street in 5 minutes. What is his speed in km per hour?
distance=600
time=5
speed=distance/time
print(speed)

120.0

In [17]:
#6. price = 100, mangoes= 10, location= Ongole. output : I bought 10 mangoes for 100 rupees in ongole
price=100
mangoes=10
location="ongole"
print("I bought",str(mangoes),"mangoes","for",str(price),"rupees in",location)

I bought 10 mangoes for 100 rupees in ongole

In [20]:
#7. sentence = "Sravanth met the "MLA" in ongole"
print("\"sravanth met the \"MLA\" in ongole\"")

"sravanth met the "MLA" in ongole"

In [28]:
#8. typecast a = 10.0  output: a = 10
a=10.0
print(type(a))
a=int(a)
print("after converting float to integer a = "+str(a))

<class 'float'>
after converting float to integer a = 10

In [35]:
#9. A father said to his son, "I was 24 years old when you were born". If the father's age is 38 years now, the son's age five years back was:
a=24
b=38
years=5
x=b-a
son_age_at_present=x
y=son_age_at_present-years
print("son's age 5 years back was",y)

son's age 5 years back was 9