taking input and adding values

In [2]:
a=int(input())
b=int(input())
print(a+b)

712

In [3]:
a=input()
b=input()
print(a+" "+b)

tsk tjk

### beginners problems 

num1 = 10

1. Convert num1 to string
2. divide num1 with 5 and print the remainder
3. divide num1 with 3 and print the quotient
4. given input 3.66655 correct till two decimal places 
5. print the type of 23.5
6. convert 3.56kg to grams
7. find the area of rectangle length = 4 breadth = 50 
8. daddy has 1000 rupees sravanth took 300, jak took 300, jayanth too 130 how much money does daddy left with
9. the price of 1 milk packet is 33 rupees. the price increases by 5 rupees every year. what is the price of the milk packet after 4 years
10. a water can contains 10 litres of water, jayanth drank 2 litres of water, jak drank 3 litres of water. print the remaining amount of water in milliletres

##

In [2]:
num1=10
print(str(num1))

10

In [16]:
#4. given input 3.66655 correct till two decimal places
a=3.66655
b=format(a,".2f")
c =round(a,2)
print(b)
print(c)

3.67
3.67

In [4]:
num1=10
print(num1%5)

0

In [5]:
num1=10
print(num1/3)

3.3333333333333335

In [17]:
#5. print the type of 23.5
a=23.5
print(type(a))

<class 'float'>

In [21]:
#6. convert 3.56kg to grams
a=3.56
b=1000
print(a*b)
print("3.56kg in grams =",a*b)

3560.0
3.56kg in grams = 3560.0

In [20]:
# sravanth has 55 rupees
# money with sravanth = 55
sravanth =55
print("money with sravanth =",sravanth)

money with sravanth = 55

In [22]:
#7. find the area of rectangle length = 4 breadth = 50 
l=4
b=50
area=l*b
print("area of rectangel =",area)

area of rectangel = 200

In [23]:
#8. daddy has 1000 rupees sravanth took 300, jak took 300, jayanth too 130 how much money does daddy left with
daddy=1000
jak=300
sravanth=300
jayanth=130
print(daddy-jak-sravanth-jayanth)

270

In [25]:
#9. the price of 1 milk packet is 33 rupees. the price increases by 5 rupees every year. what is the price of the milk packet after 4 years
milk=33
everyyear=5
years=4
c=everyyear*years
d=milk+c
print(d)

53

In [40]:
#10. a water can contain 10 litres of water, jayanth drank 2 litres of water, jak drank 3 litres of water. print the remaining amount of water in milliletres  
water=10
jayanth=2
jak=3
remaining=water-jayanth-jak
print(remaining)
print("remaining water in ml=",remaining*1000,"ml")


ml=remaining*1000 
print("remaining water in ml=",str(ml)+"ml")

5
remaining water in ml= 5000 ml
remaining water in ml= 5000ml

In [33]:
a = 'french'
b = 'beard'
print(a+" "+b)

french beard