In [1]:
a=625
square_root=a**0.5
print(square_root)

25.0

In [2]:
#area of triangle 
height=7
breath=6
area=height*breath/2
print(area)

21.0

In [5]:
#SWAPING
a=5
b=10
x=a
a=b
b=x
print(a)
print(b)

10
5

In [27]:
#Swaping by without using temp variable
a=5
b=10
a=a+b
b=a-b
a=a-b
print("after swaping a="+format(a))
print("after swaping a="+format(b))

after swaping a=10
after swaping a=5

In [28]:
kilometers=10
mile=0.62137
miles=kilometers*mile
print(miles)

6.213699999999999

In [31]:
a=5
if a<0:
    print("a is negaive")
else:
 print("a is positive")

a is positive

In [34]:
# checking even or odd
a=5
x=a%2
if x==0 :
 print("a is even")
else:
 print("a is odd")

a is odd

In [37]:
a=2023
if a%100==0:
    print("a is leap year")
else:
    print("a is not leap year")

a is not leap year

In [44]:
year=2023
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))

In [45]:
a=5
b=6
c=7
if a>=b and b>=c:
    largest=a
elif b>=c and c>=a:
    largest=b
else:
    largest=c
    print("largest number is",largest)

largest number is 7

In [48]:
a=500
b=2
print(a/b,"is quotient")
print(a%b,"is reminder")

250.0 is quotient
0 is reminder

In [49]:
a=500
b=2
x=a/b
if x==250:
    print("true")
else:
    print("false")

true

In [1]:
lower = 900
upper = 1000

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [13]:
num=9
factorial=1
if num < 0:
  print("facrotial not exists")
elif num == 0:
 print("factorial of 0 is 1")
else:
  for i in range (1,num+1):
    factorial=factorial*i
  print("factorial of",num,"is",factorial)

factorial of 9 is 362880

In [14]:
num=15
for i in range(1,11):
    print(num,"x",i,"=",num*i)

15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

In [17]:
terms=20
result=list(map(lambda x:2 **x,range(terms)))
print("The total terms are:",terms)
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

The total terms are: 20
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16
2 raised to power 5 is 32
2 raised to power 6 is 64
2 raised to power 7 is 128
2 raised to power 8 is 256
2 raised to power 9 is 512
2 raised to power 10 is 1024
2 raised to power 11 is 2048
2 raised to power 12 is 4096
2 raised to power 13 is 8192
2 raised to power 14 is 16384
2 raised to power 15 is 32768
2 raised to power 16 is 65536
2 raised to power 17 is 131072
2 raised to power 18 is 262144
2 raised to power 19 is 524288

In [18]:
dec = 789

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 789 is:
0b1100010101 in binary.
0o1425 in octal.
0x315 in hexadecimal.

In [24]:
import calendar
date=2
mm=12
year=2023
print(calendar.month(year,mm))

   December 2023
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31